organisation: psnc
dpid: 00:00:00:00:00:00:00:01

vlan_trans: true
qinq: false
capacity: 1G


interfaces:
    "1":
        remote_endpoints: 
            -
                name: urn:publicid:IDN+fms:i2cat:tnrm+stp+urn:publicid:IDN+openflow:ocf:i2cat:ofam+datapath+00:10:00:00:00:00:00:05_10
                type: vlan_trans
                vlans:
                    - 1000
            -
                name: urn:publicid:IDN+fms:i2cat:tnrm+stp+urn:publicid:IDN+openflow:ocf:i2cat:ofam+datapath+00:10:00:00:00:00:00:05_11
                type: vlan_trans
                vlans:
                    - 2001

    "2":
        remote_endpoints:
            -
                name: urn:publicid:IDN+openflow:ocf:i2cat:ofam+datapath+00:10:00:00:00:00:00:05_6
                type: static_link
                vlans:
                    - 1001
