{
  "device_management_info":
  {
    "urn:publicid:IDN+ocf:organisationName:vtam+node+serverName1":
    {
      "ip": "10.10.10.10",
      "port": "161",
      "snmp":
      {
        "id": "public",
        "password": ""
      }
    },
    "urn:publicid:IDN+ocf:organisationName:vtam+node+serverName2":
    {
      "ip": "10.10.10.11",
      "port": "161",
      "snmp":
      {
        "id": "public",
        "password": ""
      }
    }
  }
}
