<!-- 
# Copyright 2014-2015 National Institute of Advanced Industrial Science and Technology
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-->

<resources>
      <node component_id="urn:publicid:IDN+fms:aist:tnrm+stp"
            component_manager_id="urn:publicid:IDN+fms:aist:tnrm+authority+cm"
            exclusive="false">

	<!-- AIST STPs -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-ps"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-ps"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-video"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-video"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-se1"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-se1"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-se2"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-se2"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-aist-jgn-x"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2013:topology:bi-aist-jgn-x"
                   vlan="1779-1798"
                   capacity="10000" />

	<!-- KDDI STPs -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-jgn-x-aist"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-jgn-x-aist"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-jgn-x-startap"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-jgn-x-startap"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp1"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp1"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp2"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp2"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp3"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp3"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp4"
                   nsi_stp_id="urn:ogf:network:jgn-x.jp:2013:topology:bi-felix-kddi-stp4"
                   vlan="1779-1798"
                   capacity="10000" />

	<!-- PSNC STPs -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:server_port"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:server_port"
                   vlan="1779-1798"
                   capacity="10000" />
<!--
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix_port"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix_port"
                   vlan="1779-1798"
                   capacity="10000" />
-->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-9"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-9"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-3"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-3"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-1-7"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-1-7"
                   vlan="1779-1798"
                   capacity="10000" />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-4"
                   nsi_stp_id="urn:ogf:network:pionier.net.pl:2013:topology:felix-ge-1-0-4"
                   vlan="1779-1798"
                   capacity="10000" />

	<!-- iMinds STP -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:geant.net:2013:topology:iMinds__port__to__GEANT"
                   nsi_stp_id="urn:ogf:network:geant.net:2013:topology:iMinds__port__to__GEANT"
                   vlan="1280"
                   capacity="10000" />


	<!-- iCair STP -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:icair.org:2013:topology:ps"
                   nsi_stp_id="urn:ogf:network:icair.org:2013:topology:ps"
                   vlan="1779-1798"
                   capacity="10000" />

	<!-- AIST GRE STPs -->
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-se1"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-se1"
                   vlan="1700-1799"
                   capacity="10000"

		   type="ovsgre"
		   sedev="eth1"
		   address="163.220.30.180"
		   dpid="0x10"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://163.220.30.180:8080"
		   />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-test1"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-test1"
                   vlan="1700-1799"
                   capacity="10000"

		   type="ovsgre"
		   sedev="eth2"
		   address="163.220.30.180"
		   dpid="0x10"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://163.220.30.180:8080"
		   />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-se2"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-se2"
                   vlan="1700-1799"
                   capacity="10000"

		   type="ovsgre"
		   sedev="eth1"
		   address="163.220.30.181"
		   dpid="0x10"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://163.220.30.181:8080"
		   />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-test2"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-test2"
                   vlan="1700-1799"
                   capacity="10000"

		   type="ovsgre"
		   sedev="eth2"
		   address="163.220.30.181"
		   dpid="0x10"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://163.220.30.181:8080"
		   />
        <interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
                   felix_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-new00"
                   nsi_stp_id="urn:ogf:network:aist.go.jp:2015:gre:bi-new00"
                   vlan="1700-1799"
                   capacity="10000"

		   type="ovsgre"
		   sedev="eth0"
		   address="163.220.30.145"
		   dpid="0x10"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://163.220.30.145:18080"
		   />

	<!-- i2CAT GRE STPs -->
	<interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
		   felix_stp_id="urn:ogf:network:i2cat.net:2015:gre:felix"
		   nsi_stp_id="urn:ogf:network:i2cat.net:2015:gre:felix"
		   vlan="1700-1799"
		   capacity="10000"

		   type="ovsgre"
		   sedev="eth1"
		   address="84.88.40.12"
		   dpid="0x100078acc01519c0"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://84.88.40.12:8081"
		   />

	<!-- PSNC GRE STPs -->
	<interface felix_domain_id="urn:publicid:IDN+fms:aist:tnrm+stp"
		   felix_stp_id="urn:ogf:network:pionier.net.pl:2015:gre:bi-ps"
		   nsi_stp_id="urn:ogf:network:pionier.net.pl:2015:gre:bi-ps"
		   vlan="1-4094 "
		   capacity="1000"

		   type="ovsgre"
		   sedev="eth2"
		   address="150.254.160.129"
		   dpid="0x56"
		   ovsdb="tcp:127.0.0.1:44444"
		   ryu="http://150.254.160.129:8080"
		   />
      </node>
</resources>
