$def with (island, islanddescription, sdndescription, crdescription, linkstatus, emulabdescription, time)
<!DOCTYPE html>
<html>
<head>
<style>
div, p, li, td {font: inherit; font-size: 100%} 
body {background:white; text-color:black; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;}
table {border-collapse: collapse; width: 90%}
th, td {border:1px solid black}
tr.alt {background:lavender}
th {background:lightgray}
td.resourceup {background:lime}
td.resourcedown {background:red}
.linkarrow {border: none; background:white}
</style>
<title>$island - monitoring</title>
<body>
<p>
<img src="/static/$(island).png" width="90%" class="topology" />
</p>
<p>
$:islanddescription
</p>
<h2>Infrastructure</h2>
<p>
$:sdndescription
</p>
<p>
$:crdescription
</p>
<p>
$:emulabdescription
</p>
<h2>Connectivity</h2>
<p>
$:linkstatus
</p>

<p>last updated $time <span id="localtime" /></p>
<script>
document.getElementById("localtime").innerHTML = "("+new Date("$time").toTimeString()+")";
</script>
</body>
</html>
