{% extends "base.html" %}
{% load i18n %}

{% block messages %}{% endblock %}

{% block content %}

<h1>Log in</h1>

<div class="login">
	<form class="form" method="post" action=".">{% csrf_token %}
        <p><label for="id_cert_file">Certificate:</label> <input type="file" id="id_cert_file" name="files[]"  /><input type="hidden" id="id_cert" name="cert" value=""></p>
        <p><label for="id_key_file">Private Key:</label> <input type="file" id="id_key_file" name="files[]"  /><input type="hidden" id="id_key" name="key" value=""></p>
        <p>&nbsp;</p>
        <div style="height: 2px; background-color: #000090; text-align: center; width:70%;">
          <span style="background-color: white; position: relative; top: -0.5em;">
            &nbsp;OR&nbsp;
          </span>
        </div>
        <p>&nbsp;</p>
        <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
        <p><label for="id_password">Password:</label> <input id="id_password" type="password" name="password" maxlength="4096" /></p>
		<div>
			<input type="submit" class="centered" value="Log in" onClick="computeSignature(this.form)"/>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />


	</form>
</div>

<table class="centered" style="margin-top: 1em !important;">
	<tr>
	   <td>{% trans "Forgot your password" %}?</td>
	   <td><a href="{% url my_password_reset %}">{% trans "Reset it" %}</a>!</td>
	</tr>
	{% if allowLocalRegistration == 1 %}
	<tr>
	   <td>{% trans "Not a member" %}?</td>
	   <td><a href="{% url registration_register %}">{% trans "Register" %}</a>!</td>
	 </tr>
	{%endif%}
</table>
<script src="/static/media/default/js/jsrsasign-latest-all-min.js"></script>
<SCRIPT LANGUAGE="JavaScript">
function computeSignature (form) {

  var prvKeyPEM = form.id_key.value;
  form.id_key.value = '' //To avoid key uploading in case any exception occurs in sign computation
  var data = form.csrfmiddlewaretoken.value;
  var rsa =  KEYUTIL.getKeyFromPlainPrivatePKCS8PEM(prvKeyPEM)
  var hSig = rsa.signString(data, 'sha512');
  form.id_key.value = hSig;
  form.submit();
}

  function handleCertFileSelect(evt) {
    var files = evt.target.files; // FileList object
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function(event) {
        document.getElementById('id_cert').value = event.target.result;
        };

    reader.onerror = function(event) {
        alert("File could not be read! Code " + event.target.error.code);
        };

    reader.readAsText(file);
  }

  function handleKeyFileSelect(evt) {
    var files = evt.target.files; // FileList object
    var file = files[0];

    var reader = new FileReader();
    reader.onload = function(event) {
        document.getElementById('id_key').value = event.target.result;
        };

    reader.onerror = function(event) {
        alert("File could not be read! Code " + event.target.error.code);
        };

    reader.readAsText(file);
  }

  document.getElementById('id_key_file').addEventListener('change', handleKeyFileSelect, false);
  document.getElementById('id_cert_file').addEventListener('change', handleCertFileSelect, false);

</SCRIPT>
{% endblock %}

