<html>
  <head>
    <title>{% if "felix_mro" in db %}Master{% endif %} RO > Peers</title>
  </head>
  <body style="background-color: #eee">
    <p>
      <strong>{% if "felix_mro" in db %}Master{% endif %} RO's routing table</strong>:
    </p>
    <div style="padding-left: 3em;">
      {% for route in domain_routing %}
      <p>
        <strong>[{{route.type}}]</strong>
        {{route.protocol}}://{{route.address}}:{{route.port}}/{{route.endpoint}}
        {% if route.urn|length > 1 %}
        <div style="padding-left: 5em;">
          <p><u>Peers</u></p>
          <ul>
            {% for subpeer in route.urn %}
            <li><em>{{subpeer}}</em></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <em>({{route.urn[0]}})</em>
        {% endif %}
      </p>
    {% endfor %}
    </div>
  </body>
</html>
