<html>
  <head>
    <title>{% if "felix_mro" in db %}Master{% endif %} RO > Peers</title>
  </head>
  <body style="background-color: #eee">
    <p>
      <strong>{% if "felix_mro" in db %}Master{% endif %} RO's routing table</strong>:
    </p>
    {% for route in domain_routing %}
    <p style="padding-left: 3em;">
      <strong>[{{route.type}}]</strong> </span>  
      <span>{{route.protocol}}://{{route.address}}:{{route.port}}/{{route.endpoint}}</span> 
      <span><em>({{route.urn}})</em></span>
    </p>
    {% endfor %}
  </body>
</html>
